{% extends 'listing.html' %}

{% block maintitle %}
<div class="main-title">
    <a href="about.html">
    <span class="main-title">Gaël Varoquaux</span>
    <span class="main-subtitle">computer / data / brain science</span></a>
</div>
{% endblock maintitle %}

{% block head_css %}
    <style>
	@media (min-width: 1560px) {
		div.content {
		    margin-left: 5em;
		}
	    }
	@media (min-width: 1600px) {
		div.two_of_two {
		    margin: 0 -8ex 0 8ex;
		}
	    }
    </style> 
{% endblock %}

{% block pagehead %}
    {% if not articles_page.has_previous() %}
<div>
    <div class="pure-g">
     <div class="pure-u-1-2 one_of_two">
	<h1 class="content-subhead">Latest papers</h1>
<iframe width="100%" height=340 src="http://haltools.inria.fr/Public/afficheRequetePubli.php?auteur_exp=gael%2Cvaroquaux&NbAffiche=7&CB_titre=oui&langue=Anglais&tri_exp=annee_publi&tri_exp2=date_publi&tri_exp3=typdoc&ordre_aff=TA&Fen=Aff&css=http://gael-varoquaux.info/theme/css/haltools.css"></iframe>
	<div class="expandable" style="margin: 0px 0px 0px 8px;">
	    <input type="checkbox" id="more1"/>
	    <label for="more1" class="light-gray hoverable">
		    <strong>More...</strong>
	    </label>
	    <div>
		<ul class="gray light-gray">
		<li> 
		<a href="publications.html">
		    My publications page</a>
		and my
		<a href="http://scholar.google.fr/citations?user=OGGu384AAAAJ">
		Google scholar</a> page</li>
		<li><a href="http://www.slideshare.net/GaelVaroquaux">Slides
		on slideshare</a></li>
		</ul>
	    </div>
	</div>
     </div>
     <div class="pure-u-1-2 two_of_two">
	<h1 class="content-subhead" style="margin-bottom: 0pt;">Latest tweets</h1>
	<div style="overflow: hidden;">
	<div style="margin-top: -18px;">
          <a class="twitter-timeline" data-chrome="nofooter noborders noscrollbar" width="100%" height="398" data-dnt="true" href="https://twitter.com/GaelVaroquaux" data-widget-id="517767457646198784">Tweets by @GaelVaroquaux</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <span style="height: 10px;">&nbsp;</span>
	</div>
	</div>
     </div>
    </div>
</div>
    {% endif %}
{% endblock %}

{% block belowtitle %}
  {% if not articles_page.has_previous() %}
    <p class="post-meta category-list">
    {% for category, articles in categories %}
	<a href="{{ SITEURL }}/{{ category.url }}"
	 class="post-category">{{ category }}</a>&thinsp;
    {% endfor %}
    </p>
  {% endif %}
{% endblock belowtitle %}

{% block feedlink %}
    <a href="feeds/all.atom.xml" tooltip="Feed"><i class="fa fa-rss"></i></a>
{% endblock feedlink %}

