<section class="post">
    <header class="post-header">
        <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
            <p class="post-meta">{{ article.summary }}</p>
            <p class="post-meta" style="clear: both; margin-bottom: 0pt;">
                in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> &middot; {{ article.locale_date }}
	    <a href="{{ SITEURL }}/{{ article.url }}" class="post-link">
	    Read→
	    </a>
            </p>
    </header>
</section>
