<div class="sidebar pure-u">
    <!-- The background-image is now set in the CSS, to facilitate
         override -->
    <div class="cover-img">
        <div class="cover-profile tooltip-below" tooltip="About me">
	    <div class="round-border"> 
		<a href="{{ SITEURL }}/about.html">
		    <img src="{{ PROFILE_IMAGE_URL }}">
		</a>
	    </div>
	</div>
        <div class="cover-body">
            <header class="header">
                <hgroup>
		    <div style="display: inline-block">
		    <a class="brand-main" href="/" tooltip="Main page">
                    <h1 class="brand-main">{{ SITENAME }}</h1>
                    <p class="tagline">{{ TAGLINE }}</p>
		    </a></div>
		<span class="links">
                {% for title, link in MENUITEMS %}
                    <p class="links"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></p>
                {% endfor %}
		</span>
                    <p class="social">
                {% for title, image, link, extra in SOCIAL %}
			<div class=social>
                        <a href="{{ link }}" tooltip="{{ title }}">
                            <i class="fa fa-{{ image }} fa-3x"></i>
                        </a>{{ extra }}
			</div>
                {% endfor %}
                    <p>
                </hgroup>
            </header>
        </div>
    </div>
</div>
